In [25]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import re

In [26]:
df = ['Bairro','Area','Quartos','Banheiros','Garagem','Pre√ßo']
df = pd.DataFrame(columns=df)

In [27]:
def coletando_infos_casas(preco_inicial, preco_final, paginas, cidade, estado):
    service = Service()

    options = webdriver.ChromeOptions()

    driver = webdriver.Chrome(service=service, options=options)
    url = f'https://www.chavesnamao.com.br/casas-a-venda/{estado}-{cidade}/?&filtro={{"pmin":{preco_inicial},"pmax":{preco_final}}}&pg={paginas}'

    driver.get(url)
    
    casas = driver.find_elements(By.CSS_SELECTOR, 'span.contentCard')
    for i in range(len(casas)):
        casas_1.append(casas[i].text.split('\n'))

    wait = WebDriverWait(driver, 10)
    lista_final.append(casas_1)
    driver.quit()
    return lista_final

In [42]:
precos = [0, 300000, 450000, 600000, 750000, 900000, 1200000]
paginas = range(5)
cidades = ['florianopolis','porto-alegre','curitiba', 'rio-de-janeiro','sao-paulo','belo-horizonte','fortaleza', 'manaus','savaldor', 'recife', 'natal', 'goiania', 'teresina', 'belem']
estados = ['sc','rs','pr', 'rj', 'sp', 'mg','ce','am','ba', 'pe', 'rn', 'go', 'pi', 'pa']
lista_final = []
casas_1 = []
for c, e in zip(cidades, estados):
    for i in (range(len(precos)-1)):
        for j in paginas:
            coletando_infos_casas(precos[i],precos[i+1],paginas[j],c,e)

In [43]:
for i in range(len(lista_final)):
    print("Comecei I", i)
    for j in range(len(lista_final[i])):
        if len(lista_final[i][j]) == 12:
            new_row = {'Bairro': lista_final[i][j][2], 'Pre√ßo': lista_final[i][j][3], 'Area':lista_final[i][j][4], 'Quartos': lista_final[i][j][5], 'Banheiros': lista_final[i][j][7], 'Garagem': lista_final[i][j][9]}
            df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)
            df = df.drop_duplicates()

Comecei I 0
Comecei I 1
Comecei I 2
Comecei I 3
Comecei I 4
Comecei I 5
Comecei I 6
Comecei I 7
Comecei I 8
Comecei I 9
Comecei I 10
Comecei I 11
Comecei I 12
Comecei I 13
Comecei I 14
Comecei I 15
Comecei I 16
Comecei I 17
Comecei I 18
Comecei I 19
Comecei I 20
Comecei I 21
Comecei I 22
Comecei I 23
Comecei I 24
Comecei I 25
Comecei I 26
Comecei I 27
Comecei I 28
Comecei I 29
Comecei I 30
Comecei I 31
Comecei I 32
Comecei I 33
Comecei I 34
Comecei I 35
Comecei I 36
Comecei I 37
Comecei I 38
Comecei I 39
Comecei I 40
Comecei I 41
Comecei I 42
Comecei I 43
Comecei I 44
Comecei I 45
Comecei I 46
Comecei I 47
Comecei I 48
Comecei I 49
Comecei I 50
Comecei I 51
Comecei I 52
Comecei I 53
Comecei I 54
Comecei I 55
Comecei I 56
Comecei I 57
Comecei I 58
Comecei I 59
Comecei I 60
Comecei I 61
Comecei I 62
Comecei I 63
Comecei I 64
Comecei I 65
Comecei I 66
Comecei I 67
Comecei I 68
Comecei I 69
Comecei I 70
Comecei I 71
Comecei I 72
Comecei I 73
Comecei I 74
Comecei I 75
Comecei I 76
Comecei I 77
Comecei I 78
Comecei I 79
Comecei I 80
Comecei I 81
Comecei I 82
Comecei I 83
Comecei I 84
Comecei I 85
Comecei I 86
Comecei I 87
Comecei I 88
Comecei I 89
Comecei I 90
Comecei I 91
Comecei I 92
Comecei I 93
Comecei I 94
Comecei I 95
Comecei I 96
Comecei I 97
Comecei I 98
Comecei I 99
Comecei I 100
Comecei I 101
Comecei I 102
Comecei I 103
Comecei I 104
Comecei I 105
Comecei I 106
Comecei I 107
Comecei I 108
Comecei I 109
Comecei I 110
Comecei I 111
Comecei I 112
Comecei I 113
Comecei I 114
Comecei I 115
Comecei I 116
Comecei I 117
Comecei I 118
Comecei I 119
Comecei I 120
Comecei I 121
Comecei I 122
Comecei I 123
Comecei I 124
Comecei I 125
Comecei I 126
Comecei I 127
Comecei I 128
Comecei I 129
Comecei I 130
Comecei I 131
Comecei I 132
Comecei I 133
Comecei I 134
Comecei I 135
Comecei I 136
Comecei I 137
Comecei I 138
Comecei I 139
Comecei I 140
Comecei I 141
Comecei I 142
Comecei I 143
Comecei I 144
Comecei I 145
Comecei I 146
Comecei I 147
Comecei I 148
Comecei I 149
Comecei I 150
Comecei I 151
Comecei I 152
Comecei I 153
Comecei I 154
Comecei I 155
Comecei I 156
Comecei I 157
Comecei I 158
Comecei I 159
Comecei I 160
Comecei I 161
Comecei I 162
Comecei I 163
Comecei I 164
Comecei I 165
Comecei I 166
Comecei I 167
Comecei I 168
Comecei I 169
Comecei I 170
Comecei I 171
Comecei I 172
Comecei I 173
Comecei I 174
Comecei I 175
Comecei I 176
Comecei I 177
Comecei I 178
Comecei I 179
Comecei I 180
Comecei I 181
Comecei I 182
Comecei I 183
Comecei I 184
Comecei I 185
Comecei I 186
Comecei I 187
Comecei I 188
Comecei I 189
Comecei I 190
Comecei I 191
Comecei I 192
Comecei I 193
Comecei I 194
Comecei I 195
Comecei I 196
Comecei I 197
Comecei I 198
Comecei I 199
Comecei I 200
Comecei I 201
Comecei I 202
Comecei I 203
Comecei I 204
Comecei I 205
Comecei I 206
Comecei I 207
Comecei I 208
Comecei I 209
Comecei I 210
Comecei I 211
Comecei I 212
Comecei I 213
Comecei I 214
Comecei I 215
Comecei I 216
Comecei I 217
Comecei I 218
Comecei I 219
Comecei I 220
Comecei I 221
Comecei I 222
Comecei I 223
Comecei I 224
Comecei I 225
Comecei I 226
Comecei I 227
Comecei I 228
Comecei I 229
Comecei I 230
Comecei I 231
Comecei I 232
Comecei I 233
Comecei I 234
Comecei I 235
Comecei I 236
Comecei I 237
Comecei I 238
Comecei I 239
Comecei I 240
Comecei I 241
Comecei I 242
Comecei I 243
Comecei I 244
Comecei I 245
Comecei I 246
Comecei I 247
Comecei I 248
Comecei I 249
Comecei I 250
Comecei I 251
Comecei I 252
Comecei I 253
Comecei I 254
Comecei I 255
Comecei I 256
Comecei I 257
Comecei I 258
Comecei I 259
Comecei I 260
Comecei I 261
Comecei I 262
Comecei I 263
Comecei I 264
Comecei I 265
Comecei I 266
Comecei I 267
Comecei I 268
Comecei I 269
Comecei I 270
Comecei I 271
Comecei I 272
Comecei I 273
Comecei I 274
Comecei I 275
Comecei I 276
Comecei I 277
Comecei I 278
Comecei I 279
Comecei I 280
Comecei I 281
Comecei I 282
Comecei I 283
Comecei I 284
Comecei I 285
Comecei I 286
Comecei I 287
Comecei I 288
Comecei I 289
Comecei I 290
Comecei I 291
Comecei I 292
Comecei I 293
Comecei I 294
Comecei I 295
Comecei I 296
Comecei I 297
Comecei I 298
Comecei I 299
Comecei I 300
Comecei I 301
Comecei I 302
Comecei I 303
Comecei I 304
Comecei I 305
Comecei I 306
Comecei I 307
Comecei I 308
Comecei I 309
Comecei I 310
Comecei I 311
Comecei I 312
Comecei I 313
Comecei I 314
Comecei I 315
Comecei I 316
Comecei I 317
Comecei I 318
Comecei I 319
Comecei I 320
Comecei I 321
Comecei I 322
Comecei I 323
Comecei I 324
Comecei I 325
Comecei I 326
Comecei I 327
Comecei I 328
Comecei I 329
Comecei I 330
Comecei I 331
Comecei I 332
Comecei I 333
Comecei I 334
Comecei I 335
Comecei I 336
Comecei I 337
Comecei I 338
Comecei I 339
Comecei I 340
Comecei I 341
Comecei I 342
Comecei I 343
Comecei I 344
Comecei I 345
Comecei I 346
Comecei I 347
Comecei I 348
Comecei I 349
Comecei I 350
Comecei I 351
Comecei I 352
Comecei I 353
Comecei I 354
Comecei I 355
Comecei I 356
Comecei I 357
Comecei I 358
Comecei I 359
Comecei I 360
Comecei I 361
Comecei I 362
Comecei I 363
Comecei I 364
Comecei I 365
Comecei I 366
Comecei I 367
Comecei I 368
Comecei I 369
Comecei I 370
Comecei I 371
Comecei I 372
Comecei I 373
Comecei I 374
Comecei I 375
Comecei I 376
Comecei I 377
Comecei I 378
Comecei I 379
Comecei I 380
Comecei I 381
Comecei I 382
Comecei I 383
Comecei I 384
Comecei I 385
Comecei I 386
Comecei I 387
Comecei I 388
Comecei I 389
Comecei I 390
Comecei I 391
Comecei I 392
Comecei I 393
Comecei I 394
Comecei I 395
Comecei I 396
Comecei I 397
Comecei I 398
Comecei I 399
Comecei I 400
Comecei I 401
Comecei I 402
Comecei I 403
Comecei I 404
Comecei I 405
Comecei I 406
Comecei I 407
Comecei I 408
Comecei I 409
Comecei I 410
Comecei I 411
Comecei I 412
Comecei I 413
Comecei I 414
Comecei I 415
Comecei I 416
Comecei I 417
Comecei I 418
Comecei I 419

In [44]:
df

,Bairro,Area,Quartos,Banheiros,Garagem,Pre√ßo,Cidade
0,S√£o Jo√£o do Rio Vermelho,66,2,2,1,295.000,Florian√≥polis
1,Ingleses do Rio Vermelho,--,2,1,1,242.000,Florian√≥polis
2,Ingleses,78,2,2,2,297.000,Florian√≥polis
3,S√£o Jo√£o do Rio Vermelho,60,2,2,1,295.000,Florian√≥polis
4,S√£o Jo√£o do Rio Vermelho,55,2,2,1,298.000,Florian√≥polis
...,...,...,...,...,...,...,...
4878,"Marambaia, Bel√©m",490m¬≤,5,4,8,R$ 900.000,NaN
4879,"Canudos, Bel√©m",210m¬≤,3,4,2,R$ 850.000,NaN
4880,"Batista Campos, Bel√©m",223m¬≤,4,3,4,R$ 1.000.000,NaN
4881,"Cidade Velha, Bel√©m",318m¬≤,6,5,10,R$ 1.000.000,NaN
4882,"Campina, Bel√©m",260m¬≤,3,4,2,R$ 950.000,NaN

In [50]:
a = df.drop_duplicates()
a

,Bairro,Area,Quartos,Banheiros,Garagem,Pre√ßo,Cidade
0,S√£o Jo√£o do Rio Vermelho,66,2,2,1,None,None
1,Ingleses do Rio Vermelho,--,2,1,1,None,None
2,Ingleses,78,2,2,2,None,None
3,S√£o Jo√£o do Rio Vermelho,60,2,2,1,None,None
4,S√£o Jo√£o do Rio Vermelho,55,2,2,1,None,None
...,...,...,...,...,...,...,...
4878,Marambaia,490,5,4,8,900.000,Bel√©m
4879,Canudos,210,3,4,2,850.000,Bel√©m
4880,Batista Campos,223,4,3,4,1.000.000,Bel√©m
4881,Cidade Velha,318,6,5,10,1.000.000,Bel√©m
4882,Campina,260,3,4,2,950.000,Bel√©m

In [45]:
df[['Bairro', 'Cidade']] = df['Bairro'].str.split(', ', expand=True)

In [46]:
df['Area'] = df['Area'].str.split('m', expand=True)[0]

In [47]:
df['Pre√ßo'] = df['Pre√ßo'].str.split(' ', expand=True)[1]

In [48]:
df

,Bairro,Area,Quartos,Banheiros,Garagem,Pre√ßo,Cidade
0,S√£o Jo√£o do Rio Vermelho,66,2,2,1,None,None
1,Ingleses do Rio Vermelho,--,2,1,1,None,None
2,Ingleses,78,2,2,2,None,None
3,S√£o Jo√£o do Rio Vermelho,60,2,2,1,None,None
4,S√£o Jo√£o do Rio Vermelho,55,2,2,1,None,None
...,...,...,...,...,...,...,...
4878,Marambaia,490,5,4,8,900.000,Bel√©m
4879,Canudos,210,3,4,2,850.000,Bel√©m
4880,Batista Campos,223,4,3,4,1.000.000,Bel√©m
4881,Cidade Velha,318,6,5,10,1.000.000,Bel√©m
4882,Campina,260,3,4,2,950.000,Bel√©m

In [51]:
a.to_excel('Rent_Brazil2.xlsx', index=False)